## Data Cleaning and Extraction

In [1]:
import pandas as pd

In [2]:
raw_data = pd.read_csv("owid-energy-data.csv")
print(raw_data.shape)

(21812, 129)

In [3]:
raw_data.head()

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN

In [4]:
# Keep only data of countries
country_data = raw_data[raw_data['iso_code'].notna()]

In [5]:
#Data of countries 
world_data = raw_data[raw_data['country'] == "World"]
# Remove data before renewable energy data is available
world_data = world_data[world_data["renewables_share_elec"].notna()]
country_data = country_data[country_data["renewables_share_elec"].notna()]
# convert column to string
world_data["year"] = world_data["year"].astype(str)
print(len(world_data))

39

In [6]:
codes = pd.read_csv("owid-energy-codebook.csv")
codes = codes[["column","description"]]

In [7]:
world_data.to_csv("world_energy_data.csv", index=False)
country_data.to_csv("country_energy_data.csv", index=False)